.blog{

    @include mobile{
       display: none;
        
    }
    &__container{
       

      &__content{
        padding-top: 10px;
          display:flex;
          width:90%;
          margin: 0 auto;
          div{
              flex:1;
              margin: 0 10px;
              position: relative;
              img{
                  width: 100%;
                  
              }
              h2{
                  position:absolute;
                  bottom: 0;
                  left: 10px;
                  color:rgb(238, 227, 227);
                  
              }
          }
      }
    }
}